{% extends "tienda/base.html" %}

{% block title %} {{ articulo.nombre | capfirst }} {% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}


<section class="col-xs-12">
  <div class="titulo">
    <p>
      {{ articulo.nombre | capfirst }}
    </p>
    <div class="compartir">
      <span class="ion-android-share-alt"></span>
      <a class="ion-social-facebook" href="https://www.facebook.com/share.php?u=https://platzi.com/tienda/{{ articulo.slug }}"></a>
      <a class="ion-social-twitter" href="https://twitter.com/intent/tweet?text={{ articulo.nombre }};url=http://www.sinam.com.uy/tienda/{{ articulo.slug }}" target="_blank"></a>
      <a class="ion-social-googleplus" href="https://plus.google.com/share?url=https://platzi.com/tienda/{{ articulo.slug }}"></a>
      <a class="ion-social-whatsapp" href="whatsapp://send?text=Visita: {{ articulo.nombre }} - http://www.sinam.com.uy/tienda/{{ articulo.slug }}" data-action="share/whatsapp/share" target="_blank"></a>
    </div>
  </div>
  
  <div class="articulo">
    <article class="detail col-xs-12">
      {% load static from staticfiles %}
        {% if articulo.image1 %}
              <div class="imagen1">
                <img src="{{ MEDIA_URL }} {{ articulo.image1.url }}" alt=""/>
            </div>
        {% endif %}

        <div class="miniaturas col-xs-12">
          {% if articulo.image1 %}
              <div class="galeria">
              <a href="#img1">
                <img src="{{ MEDIA_URL }} {{ articulo.image1.url }}" alt=""/>
              </a>
              </div>
          {% endif %}
          {% load static from staticfiles %}
            {% if articulo.image2 %}
              <div class="galeria">
              <a href="#img2">
                <img src="{{ MEDIA_URL }} {{ articulo.image2.url }}" alt=""/>
              </a>
              </div>
          {% endif %}
          {% if articulo.image3 %}
              <div class="galeria">
              <a href="#img3">
                <img src="{{ MEDIA_URL }} {{ articulo.image3.url }}" alt=""/>
              </a>
              </div>
          {% endif %}
          {% if articulo.image4 %}
              <div class="galeria">
              <a href="#img4">
                <img src="{{ MEDIA_URL }} {{ articulo.image4.url }}" alt=""/>
              </a>
              </div>
          {% endif %}
          {% if articulo.image5 %}
              <div class="galeria">
              <a href="#img5">
                <img src="{{ MEDIA_URL }} {{ articulo.image5.url }}" alt=""/>
              </a>
              </div>
          {% endif %}          
        </div>

        {% if articulo.image1 %}
        <div id="img1" class="lbox">
          <div class="box_img">
            <a href="#img5" id="prev" class="btn">&#171;</a>
            <a href="" id="close" class="btn">X</a>
            <img src="{{ MEDIA_URL }} {{ articulo.image1.url }}" alt="">
            <a href="#img2" id="next" class="btn">&#187;</a>
          </div>
        </div>
        {% endif %}

        {% if articulo.image2 %}
        <div id="img2" class="lbox">
          <div class="box_img">
            <a href="#img1" id="prev" class="btn">&#171;</a>
            <a href="" id="close" class="btn">X</a>
            {% load static from staticfiles %}
            <img src="{{ MEDIA_URL }} {{ articulo.image2.url }}" alt="">
            <a href="#img3" id="next" class="btn">&#187;</a>
          </div>
        </div>
        {% endif %}

        {% if articulo.image3 %}
        <div id="img3" class="lbox">
          <div class="box_img">
            <a href="#img2" id="prev" class="btn">&#171;</a>
            <a href="" id="close" class="btn">X</a>
            <img src="{{ MEDIA_URL }} {{ articulo.image3.url }}" alt="">
            <a href="#img4" id="next" class="btn">&#187;</a>
          </div>
        </div>
        {% endif %}

        {% if articulo.image4 %}
        <div id="img4" class="lbox">
          <div class="box_img">
            <a href="#img3" id="prev" class="btn">&#171;</a>
            <a href="" id="close" class="btn">X</a>
            <img src="{{ MEDIA_URL }} {{ articulo.image4.url }}" alt="">
            <a href="#img5" id="next" class="btn">&#187;</a>
          </div>
        </div>
        {% endif %}

        {% if articulo.image5 %}
        <div id="img5" class="lbox">
          <div class="box_img">
            <a href="#img4" id="prev" class="btn">&#171;</a>
            <a href="" id="close" class="btn">X</a>
            <img src="{{ MEDIA_URL }} {{ articulo.image5.url }}" alt="">
            <a href="#img1" id="next" class="btn">&#187;</a>
          </div>
        </div>
        {% endif %}


        <p>{{ articulo.descripcion }}</p>
        <div class="detalles-detail">
          <a class="categoria"> {{ articulo.categoria }} </a>
          <div class="precio">$ {{ articulo.precio |floatformat:"0" }}</div>
          <div class="comprar">{{ articulo.mp | safe }}</div>
        </div>
    </article>
  </div>
</section>

{% endblock content %}

{% block js %}{% endblock js %}