{% extends "tienda/base.html" %}

{% block content %}
	

<ul>
    {% for article in articulos %}
        <li>
            <a href="{{ article.slug }}">{{ article.nombre }}</a> |
            <p>{{ article.nombre }}</p>
            <p>{{ article.descripcion }}</p>
            <p>{{ article.description }}</p>
            <a href="{{ article.categoria }}">{{ article.categoria }}</a>
        </li>
    {% endfor %}
</ul>

<ul>
	<li>
		{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
	</li>
	<li>
		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
		{% endif %}
	</li>
</ul>
{% endblock content %}